.form-group
  label(for="fullname") Full name
  input#fullname.form-control(name="fullname", type="text", value=contact.name)
.form-group
  label(for="title") Title
  input#title.form-control(name="title", type="text", value=contact.title)
.form-group
  label(for="email") E-mail address
  input#email.form-control(name="email", type="email", value=contact.email)